@import "../helper/mixin/";
@import "../helper/variables/";
@import "../helper/media-query";
body {
  .modal {
    &-content {
      padding: 40px;
    }
    &-header,
    &-footer {
      border: none;
      padding: 0;
    }
    &-header {
      justify-content: center;
      .modal-title {
        color: $black;
        text-align: center;
        @include font-size(24, 32, 400);
      }
      .btn-close {
        position: absolute;
        right: 20px;
        top: 20px;
        opacity: 1;
        background-color: $white-10;
        border-radius: 100%;
        background-size: 12px;
      }
    }
    &-body {
      padding: 30px 0;
      text-align: center;
      color: $neutral-10;
      @include font-size(16, 24, 400);
    }
    &-footer {
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 10px;
    }
    &.comment-thread-modal {
      .modal-dialog {
        max-width: 556px;
      }
      .modal-body {
        text-align: left;
        .dnd-card {
          background: $white-20;
          border-radius: 8px;
          &-actions {
            top: 10px;
            right: 15px;
          }
          ul {
            gap: 8px;
            li {
              background-color: $white;
            }
          }
          .card-body {
            padding: 8px 0;
          }
        }
      }
      .modal-footer {
        background-color: $white-20;
        padding: 16px;
        border-radius: 8px;
        display: block;
        h5 {
          color: $black;
          margin-bottom: 5px;
          @include font-size(12, 18, 400);
        }
        > * {
          margin: 0;
        }
      }
      .chat-card {
        max-width: 312px;
      }
    }
    @include media-max("lg") {
      &-content {
        padding: 20px;
      }
    }
  }
}
.aves-details-modal {
  .modal-body {
    .invalid-feedback {
      text-align: left;
    }
    ul {
      li {
        span {
          color: $neutral-40;
          letter-spacing: 0.048px;
          @include font-size(12, 16, 700);
        }
        h6 {
          color: $neutral-10;
          @include font-size(16, 24, 400);
        }
      }
    }
    .aves-details-modal-content {
      text-align: left;
      h3 {
        color: $neutral-40;
        letter-spacing: 0.048px;
        @include font-size(12, 16, 700);
      }
    }
    p {
      color: $neutral-10;
      @include font-size(16, 24, 400);
    }
  }
  &-input {
    padding-top: 30px;
    .mb-3 {
      margin-bottom: 0 !important;
    }
  }
}
.block-modal {
  .modal-header {
    justify-content: flex-start;
  }
  img {
    width: 160px;
    height: 160px;
    border-radius: 8px;
    object-fit: cover;
  }
  &-content {
    flex: 1;
    text-align: left;
    p {
      color: $neutral-50;
      @include font-size(14, 20, 400);
      &:not(:last-child) {
        margin-bottom: 18px;
      }
    }
  }
}
.itinerary-modal {
  .modal-body {
    .invalid-feedback {
      text-align: left;
    }
  }
  &.itinerary-modal-exportBD {
    .btn-cartasi {
      width: fit-content;
      gap: 10px;

      .btn-check:checked + .btn {
        color: $white;
        background-color: $primary-60;
        border-color: $primary-60;
        img {
          filter: brightness(0) invert(1);
        }
      }
      label {
        width: 47px;
        height: 51px;
        padding: 0;
        border-radius: 5px !important;
        @include flex(center, center, null);
        border-color: $neutral-70;
        background-color: transparent;
        color: $neutral-70;box-shadow: none !important;
      }
    }
  }
}
.modal-terms-conditions .editor-wrapper input {
  width: 210px;
}
